<section>
  <h1 class="mb-5 text-center">
    Invoice Generator
  </h1>

  <div class="h-100 d-flex justify-content-center align-items-center">
    <%= link_to t('.generate'), register_users_path, class: 'btn btn-primary m-2' %>
    <%= link_to t('.login'), new_session_path, class: 'btn btn-secondary m-2'  %>
  </div>
</section>
